# dependencies
/node_modules

# next.js
/.next/
/out/

# env files (NUNCA subir)
.env
.env.local
.env.production

# prisma
/prisma/migrations/

# scripts de prueba
/scripts/

# logs
*.log

# OS
.DS_Store
Thumbs.db
